#nav_bar {
  background: grey;
  height: 50px;
}

#header {
  background: rgb(172, 170, 170);
  height: 240px;
}

#tiles {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-gap: 10px;
  margin-bottom: 50px;
  grid-template-areas:
    "tile1 tile1 tile1 tile1 tile2 tile2 tile3 tile3"
    "tile1 tile1 tile1 tile1 tile2 tile2 tile3 tile3"
    "tile1 tile1 tile1 tile1 tile5 tile5 tile5 tile5"
    "tile4 tile4 tile4 tile4 tile5 tile5 tile5 tile5"
    "tile4 tile4 tile4 tile4 tile5 tile5 tile5 tile5"
}

#tile1 {
  grid-area: tile1;
  background: rgb(189, 119, 119);
  height: 100%;
}

#tile2 {
  grid-area: tile2;
  background: rgb(194, 50, 50);
  height: 100%;
}

#tile3 {
  grid-area: tile3;
  background: rgb(119, 78, 78);
  height: 100%;
}

#tile4 {
  grid-area: tile4;
  background: rgb(119, 60, 60);
  height: 100%;
}

#tile5 {
  grid-area: tile5;
  background: rgb(110, 58, 58);
  height: 100%;
}

#popular {
  background-color: grey;
  height: 350px;
}

#popular_headline {
  background-color: rgb(108, 185, 147);
  height: 175px;
}

#popular_tiles {
  background-color: rgb(96, 100, 148);
  height: 175px;
  display: flex;
  justify-content: space-evenly;
}

#populartile1 {
  height: 100px;
  width: 150px;
  background-color: rgb(196, 181, 181);
}

#populartile2 {
  height: 100px;
  width: 150px;
  background-color: rgb(207, 107, 107);
}

#populartile3 {
  height: 100px;
  width: 150px;
  background-color: rgb(123, 194, 123);
}

#populartile4 {
  height: 100px;
  width: 150px;
  background-color: rgb(116, 133, 189);
}

#populartile5 {
  height: 100px;
  width: 150px;
  background-color: rgb(137, 97, 141);
}

#latest {
  height: 1001px;
  background-color: grey;
}

#latest_headline {
  height: 208px;
  background-color:rgb(172, 170, 170);
}

#latesttiles {
  height: 100%;
  background-color: blue;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 70px 1fr 1fr 1fr 1fr 70px;
  grid-template-rows: 50px 250px 250px 1fr;
  grid-template-areas:
  ". . . . . ."
  ". tile1 tile2 tile3 tile4 ."
  ". tile5 tile6 tile7 tile8 ."
  ". . button button . .";
}

#latesttile1 {
  grid-area: tile1;
  height: 250px;
  background-color: rgb(145, 199, 137);
}

#latesttile2 {
  grid-area: tile2;
  height: 250px;
  background-color: rgb(177, 136, 121);
}

#latesttile3 {
  grid-area: tile3;
  height: 250px;
  background-color: rgb(147, 139, 175);
}

#latesttile4 {
  grid-area: tile4;
  height: 250px;
  background-color: rgb(109, 155, 98);
}

#latesttile5 {
  grid-area: tile5;
  height: 250px;
  background-color: rgb(105, 140, 160);
}

#latesttile6 {
  grid-area: tile6;
  height: 250px;
  background-color: rgb(136, 119, 119);
}

#latesttile7 {
  grid-area: tile7;
  height: 250px;
  background-color: rgb(172, 180, 134);
}

#latesttile8 {
  grid-area: tile8;
  height: 250px;
  background-color: rgb(156, 106, 145);
}

#latest_button {
  grid-area: button;
  height: 40px;
  width: 150px;
}

#channels {
  height: 576px;
  background-color: rgb(83, 172, 61);
}

#channel_header {
  height: 208px;
  background-color: rgb(197, 100, 100);
}

#channeltiles {
  height: 375px;
  background-color: rgb(140, 159, 196);
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;

}


#channeltile1 {
  height: 232px;
  width: 259px;
  background-color:rgb(214, 74, 18);
}

#channeltile2 {
  height: 232px;
  width: 259px;
  background-color:rgb(148, 212, 132);
}

#channeltile3 {
  height: 232px;
  width: 259px;
  background-color:rgb(99, 94, 117);
}

#channeltile4 {
  height: 232px;
  width: 259px;
  background-color:rgb(177, 136, 121);
}

#channeltile5 {
  height: 232px;
  width: 259px;
  background-color:rgb(14, 81, 206);
}

#newsletter {
  height: 360px;
  background-color:rgb(4, 61, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#newsletter_headline {
  height: 50px;
  background-color:rgb(39, 40, 65);
}

#newsletter_subheadline {
  height: 50px;
  background-color:rgb(32, 35, 41);

}

#newsletter_search {
  height: 50px;
  background-color:rgb(188, 216, 142);

}

#newsletter_social {
  height: 50px;
  background-color:rgb(216, 162, 137);
}

#goals {
  height: 608px;
  background-color: rgb(165, 188, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#work_with_us_wrapper {
  height: 327px;
  background-color: rgb(122, 142, 209);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

#work_with_text {
  height: 327px;
  width: 80%;
  background-color: rgb(122, 127, 145);
}

#work_with_icons {
  height: 327px;
  width: 80%;
  background-color: rgb(122, 209, 137);
}

#goals_social {
  height: 100px;
  background-color: rgb(130, 175, 109);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#goalicon1 {
  height: 75%;
  width: 50px;
  background-color:rgb(14, 81, 206);
}

#goalicon2 {
  height: 75%;
  width: 50px;
  background-color:rgb(206, 123, 14);
}

#goalicon3 {
  height: 75%;
  width: 50px;
  background-color:rgb(36, 206, 14);
}

#goalicon4 {
  height: 75%;
  width: 50px;
  background-color:rgb(206, 14, 196);
}

#goalicon5 {
  height: 75%;
  width: 50px;
  background-color:rgb(143, 212, 78);
}

#goalicon6 {
  height: 75%;
  width: 50px;
  background-color:rgb(189, 96, 60);
}

#goalicon6 {
  height: 75%;
  width: 50px;
  background-color:rgb(61, 146, 35);
}

#goalicon7 {
  height: 75%;
  width: 50px;
  background-color:rgb(206, 14, 164);
}

#goalicon8 {
  height: 75%;
  width: 50px;
  background-color:rgb(177, 206, 14);
}


#footer {
  height: 485px;
  background-color: black;
}


